{% extends "base/base.html" %}

{% block title %}TesteDev - Cadastro Produtos e Fornecedores{% endblock %}
{% block content %}
<div class="wrapper p-5">
  <table class="table table-bordered" id="table" style="text-align: center;">
    <thead class="table-success" style="border-bottom: 1px; ;">
      <tr>
        <th>Id</th>
        <th>Produto</th>
        <th>fornecedor</th>
        <th>preço</th>
        <th>descriçao</th>
      </tr>
    </thead>
    <!-- Dados da API backend  -->

    <!-- {% for employee in employees %} -->
    <tr>
      <!-- <td>{{ employee.id}}</td>
      <td>{{ employee.name}}</td>
      <td>{{ employee.email}}</td>
      <td>{{ employee.occupation}}</td>
      <td>{{ employee.salary}}</td>
      <td>{{ employee.gender}}</td> -->
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}