<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand position-absolute ps-3" href="{% url 'home' %}">Teste Dev-Sistema Cadastro Produtos</a>
  <div class="container-flex ms-auto">
    <div class="d-flex"  style="margin-right: 10px;">
      <div class="input-group input-group-sm">
        <input class="form-control" type="search" id="search" placeholder="Search..." aria-label="Search" >
        <a href="{% url 'home' %}" class="btn btn-secondary btn-sm"><i class="fas fa-sync"></i></a>
      </div>
    </div>
  </div>
</nav>

</div>